<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/hero-image.avif" alt="Hero-img" width="607" height="510"class="d-block mx-lg-auto img-fluid" loading="lazy">
    </div>
    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">
            Your magical journey awaits! 
        </h1>
        <p class="lead">
            Explore our catalogue and craft a magical cuisine with what you already have in your home!
            Our options take into account different dietary needs and preferences as well, allowing us to match your needs, be it a protein
            heavy meal for our athletes, or gluten-free, vegetarian and vegan options!
        </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
            <a href="/random-recipe" class="btn btn-outline-secondary btn-dark btn-lg px-4 me-md-2">Magic!</a>
        </div>

    </div>
</div>